# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Isar
*.g.dart

# Android
.gradle/
local.properties
*.apk
*.ap_
*.aab
*.dex

# iOS/macOS
.DS_Store
.apple_desktop
.apple_double
.lski
.lsby
.lssh
.lsdf
.lsvi
.lsid
.lscl
.lscf
.lsqu
.lsro
.lssm
.lsmm
.lsqq
.lsnn
.lsaa
.lsss
.lsvv
.lsuu
.lsrr
.lshh
.lsii
.lsjj
.lskk
.lsll
.lspp
.lsww
.lsxx
.lsyy
.lszz
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/macos/Flutter/ephemeral/
**/macos/Runner/GeneratedPluginRegistrant.[mh]

# IDE
.idea/
.vscode/
*.iml
*.iws
*.swp
*.swo
*.tmp
*.bak
